* {
  box-sizing: border-box;
}

html, body {
  background: #f2f2f2;
  height: 100%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
   -moz-osx-font-smoothing: antialiased;
   -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

/*Navigation*/

nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color:inherit;
}

nav ul {
  overflow: hidden;
  text-align: left;
  margin: 0;
  padding:0;
  color:white;
  letter-spacing: 2px;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

nav ul li {
  display: inline-block;
  padding: 18px 15px;
  font-size: 17px;
  transition: 0.3s ease;
}

nav ul .nav-hover:hover {
  text-decoration: underline;
}

.nav-logo {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.nav-ul-scroll {
  background-color: rgba(255,255,255,.95);
  color:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-logo-scroll {
  background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Responsive nav*/

.handle {
  width: 100%;
  /*background: #303030;*/
  background: none;
  text-align: left;
  padding: 12px 10px;
  cursor: pointer;
  display: none;
  height:65px;
}

.handle.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.handle-menu {
  position: relative;
  margin-left: 10px;
  top: 3px;
  font-size: 30px;
  border-bottom: 1px solid white;
  background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bars {
  float:right;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
  bottom: 33px;
}


/*Nav Media Query*/

@media screen and (max-width: 945px) {
  nav ul {
    max-height: 0;
    background-color: rgba(255,255,255,.93);
    color:black;
    text-align: center;
  }

  .showing {
    max-height: 22em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display:block;
  }

  .nav-hover:hover,
  .nav-left:hover {
    background: #dcdcdc;
  }


  .nav-left {
    position: static;
  }

  .nav-right {
    position: static;
  }

  .nav-logo {
    font-weight: bold;
    background: black;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}

/*Start display slider*/

h1{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4em;
  font-weight: 550;
  letter-spacing: .20em;
  position: relative;
  top: 8%;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-self: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: 10px;
}


h2 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .10em;
  position: relative;
  top: 1%;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-self: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 15px;
}

.follow {
    background-color: rgba(255, 255, 255, 1);
    color:black;
    text-shadow: none;
}

.flex-item {
  font-weight: bold;
  font-size: .750rem;
  text-align: center;
  font-family: 'Roboto';
  letter-spacing: .15em;
}

.flex-item:nth-of-type(2),
.flex-item:nth-of-type(3),
.flex-item:nth-of-type(4) {
  padding-top: 8px;
}

.flex-item:nth-of-type(1) {
  font-size: 1.5rem;
  flex-grow: .75;
  text-align: left;
  padding-left: 60px;
 }

.flex-item a {
  text-decoration: none;
  color: white;
}

.flex-item a:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

.flex-item:nth-of-type(2) {
  text-align: right;
  flex-grow: 2;
  padding-right: 20px;
}
.flex-item:nth-of-type(3) {
  flex-grow: 2;
  text-align: left;
  padding-left: 20px;
}
.flex-item:nth-of-type(4) {
  flex-grow: 1;
  text-align: right;
  padding-right: 60px;
  padding-left: 15px;

}

.flex-item.follow {
  padding: 0;
}


.main-screen {
  z-index: 98;
  padding: 0;
  height: 100%;
  width: 100%;
}


.slideshow{
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 99;
  list-style: none;
}

.image {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    display: block;

    transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
    -webkit-transition:opacity 1s ease-in-out;

}

.image{
    opacity: 0;
}

.active{
    opacity: 1;
}

.image:nth-of-type(1) {
  background:
    url('images/web-developer.jpeg') no-repeat center center;
  background-size: cover;
}

.image:nth-of-type(2) {
  background:
    url('images/interior-design.jpeg') no-repeat center center;
  background-size: cover;
}

.image:nth-of-type(3) {
  background:
    url('images/travel.jpeg') no-repeat center center;
  background-size: cover;
}


/*Portait image and buttons*/

.portrait {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 15px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.see-more,
.email {
  margin-top: 35px;
  margin-left: 5%;
  margin-right: 5%;
  height: 50px;
  width: 200px;
  background: none;
  padding-top: 5px;
  border: 2px solid white;
  color: white;
  z-index: 99999999;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 480px;
  width: 100%;
}

.see-more:hover,
.email:hover {
  background-color: black;
  transition: all 0.8s;
}


section {
  height: 100%;
}

h3 {
  font-size: 48px;
  color: black;
  text-align: center;
  text-decoration: underline;
  margin-top: 60px;
}

.about-content {
  position: relative;
  font-size: 26px;
  color: black;
  text-align: center;
  margin-left: 8%;
  margin-right: 6%;
}

.about-content-two {
  position: relative;
  font-size: 26px;
  color: black;
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
}

.html-icon {
  height: 80px;
  width: 80px;
}

.css-icon {
  height: 68px;
  width: 68px;
  position: relative;
  bottom: 6px;
}

.javascript-icon {
  height: 78px;
  width: 78px;
  position: relative;
  bottom: 3px;
  left: 2px;
}

.jquery-icon {
  height: 78px;
  width: 78px;
  position: relative;
  bottom: 5px;
  left: 2px;
}

.node-icon {
  height: 72px;
  width: 72px;
  position: relative;
  bottom: 7px;
  left: 2px;
}

.react-icon {
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 3px;
}

.quik-eatz {
  margin-top: 20px;
}

.travel-assisstant {
  margin-top: 20px;
}

.xperience {
  margin-top: 20px;
}

.projects-text {
  margin-bottom: 40px;
}

.projects-info {
  font-size: 20px;
  margin-top: -10px;
}

/*Overlay effect*/

.container {
  position: relative;
  margin-top: 30px;
}

.images {
  display: block;
  width: 100%;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: black;
}

.container .overlay.show{
  height:100%;
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.xperience-text{
  font-size: 35px;
}

.live,
.git-repo {
  margin-top: 5px;
  margin-left: 3%;
  margin-right: 3%;
  height: 50px;
  width: 200px;
  background: none;
  border: 2px solid white;
  color: white;
  z-index: 99999999;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.live:hover,
.git-repo:hover {
  background-color: white;
  color: black;
  transition: all 0.8s
}

/*Footer*/

.footer {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  left: 0;
  right: 0;
}

.footer p {
  font-size: 30px;
  margin-bottom: -10px;
  font-weight: bold;
}

.fa {
  margin:10px;
  color: black;
}

.fa:hover {
  color: #3B5998;
}

.footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.footer .social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*Media queries*/

@media screen and (max-width: 460px) {

  .image {
    flex-direction: column;
    min-height: auto;
  }

  h2 {
      font-size: 16px !important;
  }


  h1 {
    font-size: 35px !important;
    margin-bottom: -20px;
    margin-top: 50px;
    margin-bottom: 50px !important;
  }

  .portrait {
    width: 180px !important;
    height: 180px !important;
  }


  .button-container {
    margin-top: -20px !important;
  }

  .see-more,
  .email {
    margin-top: 5px !important;
  }

  .text,
  .xperience-text {
    font-size: 14px;
  }

  .live,
  .git-repo {
    height: 25px;
    width: 100px;
  }

  .about-content,
  .about-content-two {
    font-size: 22px;
  }
}

@media screen and (max-width: 736px) {
  h2 {
    margin-top: -35px !important;
  }

  .button-container {
    margin-top: -140px;
  }


}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
  }

  h2 {
      font-size: 16px !important;
      padding-top: 45px !important;
      /*margin-top: -35px !important;*/
  }

  .portrait {
    width: 180px !important;
    height: 180px !important;
  }

  .see-more,
  .email {
    margin-top: 10px !important;
  }


  .text,
  .xperience-text {
    font-size: 14px !important;
  }

  .live,
  .git-repo {
    height: 25px;
    width: 100px;
  }
}

@media screen and (max-width: 1300px) {
  h1 {
    font-size: 70px;
  }

  h2 {
      font-size: 25px;
      padding-top: 60px;
  }

  .portrait {
    width: 250px;
    height: 250px;
  }

  .see-more,
  .email {
    margin-top: 150px;
  }

  .text,
  .xperience-text {
    font-size: 14px !important;
  }

  .live,
  .git-repo {
    height: 25px !important;
    width: 100px !important;
  }

}

/*Resume styling*/

.resume-title,
.resume-body {
  text-align: center;
  color: black;
}




